<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>代码片段</title>
</head>

<body>
    <script src="../js/vue.js"></script>
    <div id="app"></div>
    <template id="my-app">
        <!-- 指令后面跟上boolean -->
        <H2 v-if="false">哈哈哈</H2>
        <!-- 指令跟变量进行切换 -->
        <h2 v-if="isShow">我显示！</h2>
        <button @="{click:toggle}">切换</button>
    </template>
    <script>
        const app = Vue.createApp({
            template: "#my-app",
            data: () => {
                return {
                    message: "欢迎你陈俊亦",
                    isShow:true,
                }
            },
            methods: {
                toggle(){
                    this.isShow = !this.isShow
                }
            },
        })
        app.mount("#app")
    </script>
</body>

</html>